html {
  background-color: #FFF5F9;
}

section {
  width: 90%;
  margin: auto;
}

img {
  max-width: 100%;
  width: 800px;
  border: 4px dotted gold;
  margin: 20px auto 20px 5%;
  padding: 1.5px;
}

h3 {
  margin-top: 40px;
}
